*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #000;
  color: #fff;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ccc;
  padding: 10px 40px;
}
.blog-wrap{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 35px;
  margin-top: 20px;
}
.blog-wrap .blog-box{
  padding: 20px;
  border: 1px solid #ccc;
  color: #ccc;
  text-decoration: none;
  cursor: pointer;
}
.add-blog{
  max-width: 800px;
  margin: 20px auto;
}
.add-blog form{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.add-blog form input{
  padding: 10px;
  font-size: 16px;
  color: #000;
}
.add-blog form button{
  background: rgb(181, 181, 247);
  border: none;
  border-radius: 10px;
  padding: 20px 40px;
  cursor: pointer;
  color: #fff;
}